<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolyGlotVoice</title>
    <link rel="stylesheet" href="/static/css/styles1.css">
    <script defer src="/static/js/main.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1>PolyGlotVoice</h1>
        </div>
    </header>
    <main>
        <div class="container">
 <section class="hero">
    <div class="container">
        <h2>Добро пожаловать в PolyGlotVoice</h2>
        <p>PolyGlotVoice - это ваше универсальное решение для перевода аудио на различные языки.</p>
        <div class="btn-group">
            <a href="{{ url_for('read_login') }}"><button id="login-btn" class="btn">Вход</button></a>
            <a href="{{ url_for('read_register') }}"><button id="register-btn" class="btn">Регистрация</button></a>



        </div>
    </div>
</section>

<section class="how-it-works">
    <div class="container">
        <h2>Как это работает</h2>
        <div class="steps">
            <div class="step">
                <img src="/static/img/record.jpg" alt="Загрузка аудио">
                <h3>Загрузите или запишите аудио</h3>
                <p>Загрузите ваш аудиофайл или запишите его прямо на нашей платформе.</p>
            </div>
            <div class="step">
                <img src="/static/img/translate.png" alt="Перевод аудио">
                <h3>Выберите язык</h3>
                <p>Выберите язык, на который вы хотите перевести ваше аудио.</p>
            </div>
            <div class="step">
                <img src="/static/img/synthesize.jpg" alt="Синтез аудио">
                <h3>Синтез</h3>
                <p>Преобразуйте переведенный текст обратно в аудио и скачайте его.</p>
            </div>
        </div>
    </div>
</section>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 PolyGlotVoice. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>
